@import 'colors.module.scss';
@import 'breakpoints.module.scss';
@import 'typography.module.scss';
@import 'navbar.module.scss';
@import 'themetoggle.module.scss';


body {
  background-color: $background-light-color;
  color: $primary-text-light-color;
  font-size: 100%;

  h1,h2,h3,h4,h5 {
    color: $primary-header-light-color;
  }

  a {
    color: $link-light-color;
    &:hover {
      color: $link-hover-light-color;
    }
  }

  a:hover {
    color: $link-hover-light-color;
  }

  hr {
    background-color: $link-hover-light-color;
  }

}

body.dark {
  background-color: $background-dark-color;
  color: $primary-text-dark-color;

  h1,h2,h3,h4,h5 {
    color: $primary-header-dark-color;
  }

  a {
    color: $link-dark-color;
    &:hover {
      color: $link-hover-dark-color;
    }
  }

  a:hover {
    color: $link-hover-dark-color
  }

  hr {
    background-color: $link-hover-dark-color;
  }

}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}





::selection {
  background: #6fd6dd; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #6fd6dd; /* Gecko Browsers */
}

/* * * *
 -- Class Styles --
*/

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.left-container {
  max-width: 900px;
  margin: 0 1rem;
  padding: 0 1rem;
}

.active-link {
  color: green;
}
