/* Light Theme Colors */
$background-light-color: #fcfcfc;

$primary-header-light-color: #393939;
$secondary-header-light-color: #4f4f4f;

$primary-text-light-color: #393939;
$secondary-text-light-color: #4f4f4f;

$link-light-color: #393939;
$link-hover-light-color: #1c7278;
$link-visited-light-color: #393939;



/* Dark Theme Colors */
$background-dark-color: #141d26;

$primary-header-dark-color: #fcfcfc;
$secondary-header-dark-color: #4f4f4f;

$primary-text-dark-color: #fcfcfc;
$secondary-text-dark-color: #fcfcfc;

$link-dark-color: #fcfcfc;
$link-hover-dark-color: #1c7278;
$link-visited-dark-color: #393939;
