/* Theme Colors */
$primary-header-color: #393939;
$secondary-header-color: #4f4f4f;

$primary-text-color: #393939;
$secondary-text-color: #4f4f4f;

$link-color: #393939;
$link-hover-color: #1c7278;
$link-visited-color: #393939;
